<div *ngIf="!showform">
  <div class="card" *ngFor="let post of posts">
    <app-date-user
      [userid]="post.userid"
      [date_create]="post.date"
    ></app-date-user>
    <div class="card-header">
      <h3>{{post.title}}</h3>
    </div>

    <img [src]="post.imgurl" class="card-img-top" />

    <div class="card-body">
      <p>{{post.body}}</p>
    </div>

    <button
      class="button"
      [ngClass]="{
      'btn-primary': post.like,
      'btn-outline-dark': !post.like,
    }"
      (click)="likecounter(post)"
    >
      Like {{post.likes}}
    </button>

    <button class="btn btn-danger" (click)="removepost(post.id)">
      delete this post
    </button>

    <div>
      <input
        type="text"
        [(ngModel)]="comment"
        placeholder="Share your thoughts"
      />

      <button class="btn-success" (click)="addcomment(post)">comment</button>
    </div>
  </div>
</div>

<div calss="form-container">
  <form *ngIf="showform" (ngSubmit)="addPost()" #postForm="ngform">
    <label> title </label>
    <input type="text" name="title" required [(ngmodel)]="newpost.title" />

    <label>body</label>
    <textarea name="body" required [(ngmodel)]="newpost.body"></textarea>

    <label>userID</label>
    <input type="number" name="userid" required [(ngmodel)]="newpost.userid" />

    <button type="submit">Submit - Add new post</button>
  </form>
</div>

<button (click)="toggleForm()">{{showform? 'hideform': 'add new post'}}</button>
